html,
body {
	/* position: relative; */
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: normal !important;
	line-height: 1.6;
	font-size: 18px;
}

* {
	box-sizing: border-box;
}

a {
	color: #0070f3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
}

@keyframes float {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(3px);
	}
}

.animation_hover {
	animation: float 500ms ease-in-out infinite alternate;
}
