@keyframes FadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.token_search_container {
	composes: card from 'utils.module.css';
	background: white;
	position: relative;
	display: block;
	overflow: hidden;
}

.token_search__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.token_search_close_button {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(-6px);
	padding: 2px 3px;
	border-radius: 10000px;
	background: rgba(0, 0, 0, 0.05);
	cursor: pointer;
	justify-content: flex-end;
}

.token_search_bar_container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	padding: 10px;
	box-shadow: 0px 15px 20px -20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

/* .token_search_bar_icon {
	width: 20%;
} */
.token_search_bar_icon > svg {
	width: 100%;
}

.token_search_bar_input {
	font-family: monospace;
	font-weight: 700;
	width: 100%;
	composes: input from 'utils.module.css';
}

.token_search_results_container {
	height: 380px;
	overflow: scroll;
	position: relative;
}
.token_search_results_container_overlay {
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	height: 25%;
	pointer-events: none;
	background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
}

.token_search_results_item {
	font-family: monospace;
	font-size: 1rem;
	padding: 10px 20px;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
	cursor: pointer;
	/* transition: all 200ms ease; */
}

.token_search_results_item:hover {
	/* transform: scale(1.02); */
	/* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); */
	/* opacity: 0.8; */
	background: rgba(0, 0, 0, 0.05);
}
